// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";


.nav-link-custom:hover {
    color: white !important;
    background-color: blue !important;
  }



  .custom-datepicker {
    width: 250px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-datepicker:hover, .custom-datepicker:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
